<p>phonelist in phonelist.component works!</p>
<ul>
    <i>first</i><br>
    <i>second</i>
</ul>

<div >
    <ul *ngFor="let phone of phones">
        <li>{{ phone.name }}</li>
        <li>{{ phones.age }}</li>
    </ul>
</div>

<!-- 
<div>
    <ul>
      <li *ngFor="let prod of products | FilterPipe : name">

        <div>
          <img src='assets/img/{{prod.imageUrl}}' alt="">

          <ul>
            <li>
              <a routerLink="prod-details/{{prod.id}}">
                <h6>{{ prod.name }}</h6>
              </a>
            </li>
            <li>
              <p>{{ prod.snippet }}</p>
            </li>
          </ul>
        </div> -->